@charset "UTF-8";
/* リンクの線を消す */
a{
    text-decoration: none;
    color: black;
}
/* メインの画像をグリットの配置にする */
.product-list{
    display:  grid;
    gap: 35px;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
}
/* メインの画像をグリットの配置にする */
.product-list img{
    width: 100%;       
    /* height: auto;      
    display: block;    */
}
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
#header{
    display: flex;
    justify-content: space-between;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
    margin-right: 15px;
}

.link-text{
    display: block; 
    /* ↑矢印Aタグ内の内容を移動させるときブロックとして扱う */
    text-align: center;
    margin-top: 40px;
}
/* レスポンシブ対応デザイン */
@media screen and (max-width: 768px){
    .product-list{
        gap: 15px;
        grid-template-columns: repeat(2,1fr);
    }

#footer{
    display: block;
    text-align: center;
    padding-bottom: 40px ;
}
.menu{
    margin-bottom: 20px;
    justify-content: center;
}
.product-list p{
 font-size: 0.8;
}

.site-title img{
    height: 24px;
    width: auto;
}
}