@charset "UTF-8";


/* ハンバーガーメニュー */
.menyu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #e0e0e0;
    transition: left 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
}

.menyu.open {
    left: 0;
}

.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 20;
}

.menyu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.menyu ul {
    list-style: none;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    /* margin: 5px 0; */
    transition: 0.4s;
    position: absolute;
}

.hamburger span:nth-of-type(1) {
    top: 0;
}

.hamburger span:nth-of-type(2) {
    top: 10px;
}

.hamburger span:nth-of-type(3) {
    top: 20px;
}

/* ×にするアニメーション */
.hamburger.active span:nth-of-type(1) {
    top: 10px;
    transform: rotate(45deg);
    background-color: white;
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
    top: 10px;
    transform: rotate(-45deg);
    background-color: white;
}

/* ボタンの当たり判定 */
.hamburger::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
}

/* リンクの線を消す */
a {
    text-decoration: none;
    color: black;
}

/* メインの画像をグリットの配置にする */
.product-list {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

/* メインの画像をグリットの配置にする */
.product-list img {
    width: 100%;
    /* height: auto;      
    display: block;    */
}

.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

#header {
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 15px;
}

.link-text {
    display: block;
    /* ↑矢印Aタグ内の内容を移動させるときブロックとして扱う */
    text-align: center;
    margin-top: 40px;
}

/* item1 デザイン */

.site-title img {
    margin-top: 30px;
    width: 70%;
    margin-bottom: 20px;

}

.page-title {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: normal;
}

.item {
    display: flex;
}

.item-text {
    width: 30%;
}

.item-text p {
    margin-bottom: 20px;
}

.item-img img {
    width: 400px;
    margin-right: 80px;
}

.link-text {
    margin-bottom: 10%;
}

/* テーブルの文字を細く */

.item table th {
    font-weight: normal;
}

.item table td {
    padding-left: 1rem;
}

/* company */
#company {
    max-width: 680px;

}

#company .info {
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
}

#company .info th,
#company .info td {
    font-weight: normal;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 10px;
}

#company .info th {
    width: 20%;
    max-width: 150%;
    padding-right: 20px;
}

#company .info td {
    padding-left: 50px;
    padding-right: 200px;
}

#company .info tr:last-child th,
#company .info tr:last-child td {
    border-bottom: none;
}

/* グーグルマップ */
#company .map {
    filter: grayscale(1);
    margin-bottom: 20%;
}

/* contactのデザイン */
#contact-form {
    max-width: 600px;

}

#contact-form input {
    width: 100%;
    border: 1px solid #dcdbdb;
    padding: 10px;
}

#contact-form select {
    width: 100%;
    border: 1px solid #dcdbdb;
    padding: 10px;
}

#contact-form textarea {
    width: 100%;
    border: 1px solid #dcdbdb;
    padding: 10px;
}

/* contact-form 内のチェックボックスとラジオボタン専用の調整 */
#contact-form input[type="checkbox"],
#contact-form input[type="radio"] {

    /* width: 100% などの共通指定を打ち消し、
     チェックボックス本来のサイズに戻す */
    width: auto;

    /* 他の input に指定している padding を無効化し、
     余白によるズレを防ぐ */
    padding: 0;

    /* テキスト入力用の枠線が
     チェックボックスに適用されないようにする */
    border: 0;
}


/* レスポンシブ対応デザイン */
@media screen and (max-width: 768px) {
    .product-list {
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    #footer {
        display: block;
        text-align: center;
        padding-bottom: 40px;
    }

    .menu {
        margin-bottom: 20px;
        justify-content: center;
        margin-top: 20px;
    }

    .product-list p {
        font-size: 0.8;
    }

    .site-title img {
        height: 24px;
        width: auto;
    }

    /* itemデザイン */
    .item {
        flex-direction: column;
        display: block;
    }

    .item .item-img,
    .item .item-text {
        width: 100%;
    }

    /* company */
    #company .info th,
    #company .info td {
        display: block;
        padding-right: 0;
    }

    #company .info th {
        border: none;
        margin-left: 10px;
        padding-bottom: 0;
    }

    #company .info td {
        padding-left: 20px;
        padding-top: 5px;
    }
}